<div class="bjwinner-widget text-center">
    <div class="row">
        <a target="_blank" href='{{ .link }}'>
            {{ if .image }}
            <img src='{{ .image }}' />
            {{ else }}
            <img src='/images/gddicon.png' />
            {{ end }}
        </a>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <p class="bjwinner-name">{{ .name }}</p>
    </div>
    <div class="row" style="margin-bottom: 1.5rem;">
        <p class="bjwinner-descrip">{{ .descrip }}</p>
    </div>
</div>