@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* hint: search for == for sections */

/* == common == */
:root {
  /* h2 and button */
  --blue1: #03A1FF;
  /* highlight and h1 */
  --orange1: #FFAF51;
}

body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;

  font-family: Sora, sans-serif;
  font-size: 20px;
  letter-spacing: 0em;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

p > a:not(.button) {
  text-decoration: underline;
}

img {
  object-fit: cover;
}


.content {
  margin: auto;
  max-width: 1200px;
}

.columns-container {
  display: flex;
  /* align-items: center; */
  gap: 110px;
  justify-content: space-evenly;
}

@media (min-width: 900px) {
  .small-screen {
    display: none;
  }
}

@media (max-width: 900px) {
  /* better alternative: have max size for text column and always wrap */
  .columns-container {
    gap: 40px;
    flex-wrap: wrap;
  }
  body {
    font-size: 80% !important;
  }
}

.asset-image {
  /* margin: 48px auto; */
  margin: auto;
  display: block;
}

section {
  padding: 60px;
}

footer {
  background: #DCF1FE;
}

mark {
  color: var(--orange1);
  background: none;
}

p > mark {
  font-weight: 600;
}

h1 {
  color: var(--orange1);
  font-size: 50px;
  font-weight: 700;
}

.center-text {
  text-align: center;
}

h2 {
  color: var(--blue1);
  font-size: 45px;
  font-weight: 700;
}

h3 {
  color: var(--blue1);
  font-size: 32px;
  font-weight: 700;
}

/* Used for Decal Info */
h4 {
  margin: 0px;
}

main {
  position: relative;
  min-height: 80vh;
  margin: auto;
}

/* probably change this to display: block */
.button {
  padding: 12px;
  margin: 6px;
  border-radius: 17px;
  background: var(--blue1);

  font-weight: bold;
  color: #FFF;
  white-space: nowrap;
}

.button:hover {
  background: color-mix(in srgb, var(--blue1) 80%, black);
}


/* == nav bar (top bar) == */
.nav-bar {
  padding: 12px 50px;
  font-size: 27px;
  font-weight: bold;
  background: #DCF1FE;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-title {
  display: flex;
  align-items: center;
  gap: 30px;

  color: var(--blue1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 54px;
}

.nav-bar a {
  color: var(--blue1);
}

.nav-bar a:hover {
  color: var(--orange1);
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}

/* == games == */
.game-widget img {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  object-fit: cover;
}

.game-widget {
  width: 260px;
}

.games-container {
  display: flex;
  overflow: auto;
  padding: 20px;
  gap: 60px;
}

.game-widget p {
  color: var(--orange1);
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

/* == footer == */

footer {
  margin-top: 32px;
  padding: 55px;
  text-align: center;

  /* needed for ocf-badge to work */
  position: relative;
}
footer h5 {
  margin: 10px;

  color: var(--orange1);
  font-size: 24px;
  font-weight: 600;
}

#ocf-badge {
  position: absolute;
  display: block;
  right: 30px;
  bottom: 30px;
}

#footer-links {
  display: flex;
  gap: 40px;
  justify-content: center;
}

#footer-links > a {
  display: block;
}

/* == staff == */

.staff-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 50px; */
}

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 25px 0px;
}

.staff img {
  border-radius: 20px;
  margin-bottom: 10px;
}

.staff .name {
  margin: 4px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.staff .title {
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
