@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* hint: search for == for sections */

/* == common == */
:root {
  /* h2 and button */
  --blue1: #03A1FF;
  /* highlight and h1 */
  --orange1: #FFAF51;
}

body {
  width: 100%;

  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;

  font-family: Sora, sans-serif;
  font-size: 20px;
  letter-spacing: 0em;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

p > a:not(.button) {
  text-decoration: underline;
}

.content {
  margin: auto;
  max-width: 1200px;
}

.columns-container {
  display: flex;
  gap: 110px;
  justify-content: space-evenly;
}

.asset-image {
  /* margin: 48px auto; */
  margin: auto;
  display: block;
}

section {
  padding: 60px;
}

footer {
  background: #DCF1FE;
}

mark {
  color: var(--orange1);
  background: none;
  padding: 0;
}

p > mark {
  font-weight: 600;
}

.center-text {
  text-align: center;
}

/* Used for Decal Info */
h4 {
  margin: 0px;
}

main {
  position: relative;
  min-height: 80vh;
  margin: auto;
}

/* probably change this to display: block */
.button {
  padding: 12px;
  margin: 6px;
  border-radius: 17px;
  background: var(--blue1);

  font-weight: bold;
  color: #FFF;
  white-space: nowrap;
}

.button:hover {
  background: color-mix(in srgb, var(--blue1) 80%, black);
}

/* == nav bar (top bar) == */
.nav-title {
  display: flex;
  align-items: center;
  gap: 30px;

  color: var(--blue1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 54px;
}

.nav-bar a {
  color: var(--blue1);
}

.nav-bar a:hover {
  color: var(--orange1);
}

/* == games == */
.game-widget img {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  object-fit: cover;
}

.game-widget {
  width: 260px;
}

.games-container {
  display: flex;
  overflow: auto;
  padding: 20px;
  gap: 60px;
}

.game-widget p {
  color: var(--orange1);
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.bjwinner-widget img {
  border-radius: 20px;
  object-fit: cover;
}

/* == footer == */

footer {
  margin-top: 32px;
  padding: 55px;
  text-align: center;

  /* needed for ocf-badge to work */
  position: relative;
}
footer h5 {
  margin: 10px;

  color: var(--orange1);
  font-size: 24px;
  font-weight: 600;
}

#ocf-badge {
  position: absolute;
  display: block;
  right: 30px;
  bottom: 30px;
}

#footer-links > a {
  display: block;
}

#title-section {
  width: 100%;
}

/* Bear Jams Page */
.bjwinner-name {
  color: black;
  font-weight: bold;
}

/* == Desktop view == */
@media (min-width: 500px) {
  .columns-container {
    display: flex;
    align-items: center;
    gap: 110px;
    justify-content: space-evenly;
  }

  /* == Nav bar == */
  .nav-bar {
    display: flex;
    align-items: center;

    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;

    font-size: 24px;
    font-weight: bold;
    background: #DCF1FE;
  }

  #nav-logo {
    margin: 0;
    padding: 0;
  }

  #nav-logo mark {
    font-size: 24px;
  }

  #nav-logo-img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
  }

  #nav-bar-links {
    gap: 4rem;
  }

  /* == Footer == */
  #footer-links {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  /* == Headers == */
  h1 {
    color: var(--orange1);
    font-size: 50px;
    font-weight: 700;
  }

  h2 {
    color: var(--blue1);
    font-size: 45px;
    font-weight: 700;
  }

  h3 {
    color: var(--blue1);
    font-size: 24px;
    font-weight: 700;
  }

  /* Spacing */
  .lg-sp-bot {
    margin-bottom: 4rem;
  }

  .md-sp-bot {
    margin-bottom: 2.5rem;
  }

  .sm-sp-bot {
    margin-bottom: 1.5rem;
  }

  .lg-sp-top {
    margin-top: 4rem;
  }

  .md-sp-top {
    margin-top: 2.5rem;
  }

  .sm-sp-top {
    margin-top: 1.5rem;
  }

  /* .two-col-imgl {
    margin-right: 5rem;
  }

  .two-col-imgr {
    margin-left: 5rem;
  } */

  /* == Homepage == */
  #title-img {
    width: 500px;
    height: 500px;
  }

  /* Bear Jams Page */
  .bjwinner-descrip {
    font-size: 16px;
  }
}

/* == Mobile view == */
@media (max-width: 500px) {
  /* == Nav bar == */
  .nav-bar {
    display: flex;
    align-items: center;

    padding: 0.25rem;
    font-size: 16px;
    font-weight: bold;
    background: #DCF1FE;
  }

  #nav-logo {
    padding-right: 0;
  }

  #nav-logo img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.2rem;
  }

  #nav-bar-links {
    gap: 2rem;
  }

  /* == Footer == */
  #footer-links {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  /* == Headers == */
  h1 {
    color: var(--orange1);
    font-size: 40px;
    font-weight: 700;
  }

  h2 {
    color: var(--blue1);
    font-size: 28px;
    font-weight: 700;
  }

  h3 {
    color: var(--blue1);
    font-size: 16px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
  }

  /* Spacing */
  .lg-sp-bot {
    margin-bottom: 2rem;
  }

  .md-sp-bot {
    margin-bottom: 1.5rem;
  }

  .sm-sp-bot {
    margin-bottom: 1rem;
  }

  .lg-sp-top {
    margin-top: 2rem;
  }

  .md-sp-top {
    margin-top: 1.5rem;
  }

  .sm-sp-top {
    margin-top: 1rem;
  }

  .two-col-imgl {
    margin-bottom: 1.5rem;
  }

  .two-col-imgr {
    margin-top: 1.5rem;
  }

  /* == Homepage == */
  #title-img {
    width: 250px;
    height: 250px;
    margin-top: 1rem;
  }

  #hp-calendar {
    margin-top: 0.5rem;
  }

  #hp-calendar-iframe {
    height: 400px;
  }

  /* == Decal Page == */
  #decal-email {
    font-size: 12px;
  }

  #dp-buttons {
    font-size: 16px;
  }

  /* == Bear Jams Page == */
  .bjwinner-descrip {
    font-size: 16px;
  }
}